.booster_creator span{
    position: absolute;
    color: #fff;
}
.profit{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: #ffae00;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}
.fast_profit{
    position: absolute;
    top: 5px;
    right: 85px;
    background-color: green;
    cursor: pointer;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}
.fast_profit.disable{
    opacity: 0.5;
    cursor: default;
}
.profit.disable{
    opacity: 0.5;
    cursor: default;
}
.booster_creator_right{
	opacity: 0;
    width: 500px;
    height: 458px;
    overflow: auto;
    border: 1px solid #82807C;
    position: absolute;
    right: 10px;
    top: 79px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.booster_creator{
   	width: 558px;
   	height: 30px;
   	background-color: #16202d;
   	position: absolute;
   	right: 10px;
   	border: 1px solid #82807C;
   	margin-top: 30px;
   	user-select: none;
}
.popup_item{
    width: calc(100% - 15px);
    height: 35px;
    border-bottom: 1px solid #6C6C6C;
    padding: 15px 0 0 15px;
    color: #fff;
    cursor: pointer;
}
.popup_item:nth-child(odd){
    background:#212f43;
}
.popup_item:last-child{
    border: none;
}
.booster_creator_right::-webkit-scrollbar{
    width: 10px;
    border-left: 1px solid #6C6C6C;
}
.booster_creator_right::-webkit-scrollbar-thumb{
    background: #212f43;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #6C6C6C;
}
.booster_creator_right:hover::-webkit-scrollbar-thumb{
    background: #6a7d9b;
}
.booster_creator_left{
	float: left;
}
.booster_option_image{
	cursor: pointer;
}
.popup_item div{
    float: left;
    width: 15%;
    text-align: center;
}
.booster_creator .popup_creator{
    width: 100%;
    padding: 5px 0px 0px 15px;
}
.booster_creator .popup_creator div{
    float: left;
    width: 15%;
    cursor: pointer;
}
.popup_item .name,.booster_creator .popup_creator .name{
    width: 54%;
    text-align: left;
}
.popup_item .name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.popup_item.disable{
    background-color: #1c1c1c;
    color: #767676;
}
.popup_item.active{
    background-color: #5392d0;
    color: #fff;
}
.ViewMarket {
    cursor: pointer;
    color: #fff;
}